/*Selector universal*/
*{
    font-size: 6mm;
}
/*Selector de tipo*/
h1{
   background-color: brown;
}
/*Selector de clase*/
.prueba{
    color: blue;
}
/*Selector id*/
#botonUno{
    background-color: aquamarine;
}
/*Selector de atributos*/
a[href*="hubspot"]{
    font-style:italic;
}

[href*="twitter"]{
    font-style:italic;

 }

/*Selector de pseudo clase*/
li a:link{
    color: green;
}
li a:visited{
    color: orange;

}
/*Selector por parentesco*/
ul>li{
    background-color: beige;
    
}
